
header {
  font-size: 1.1429em;
  background: url("../img/bg/header-bg-lg.jpg") no-repeat center 0 / cover;
  color: #fff;
  @include respond-to(small-desktops) {
    background: url("../img/bg/header-bg-md.jpg") no-repeat center 0 / cover;
  }
  @include respond-to(tablets) {
    background: url("../img/bg/header-bg-sm.jpg") no-repeat center 0 / cover;
    font-size: 1em;
  }
  @include respond-to(all-handhelds) {
    background: url("../img/bg/header-bg-xs.jpg") no-repeat center 0 / cover;
  }
  #logo-and-contacts {
    padding-top: 15px;
    @include respond-to(full-hd) {
      padding-top: 70px;
    }
  }
  a, a:hover {
    color: #fff;
  }
  a.logo:hover {
    color: #fff;
    text-decoration: none;
  }
  #logo {
    text-transform: uppercase;
  }
  h1 {
    font-size: 1em;
    line-height: 1.42857;
    margin: 0;
  }
  .contacts {
    font-weight: 300;
    @include respond-to(all-handhelds) {
      margin-top: 10px;
    }
    &:last-child {
      text-align: right;
      @include respond-to(all-handhelds) {
        text-align: center;
      }
    }
  }
  nav {
    margin-top: 15px;
    @include respond-to(full-hd) {
      margin-top: 50px;
    }
  }
  .about {
    margin-top: 90px;
    @include respond-to(tablets) {
      margin-top: 100px;
    }
    @include respond-to(full-hd) {
      margin-top: 170px;
    }
    @include respond-to(all-handhelds) {
      margin-top: 0;
    }
    .name {
      font-size: 60px;
      font-weight: 700;
      @include respond-to(small-desktops) {
        font-size: 50px;
      }
      @include respond-to(tablets) {
        font-size: 40px;
      }
      @include respond-to(all-handhelds) {
        font-size: 34px;
      }
    }
    .services {
      font-size: 35px;
      color: #c3c3c3;
      @include respond-to(small-desktops) {
        font-size: 30px;
      }
      @include respond-to(tablets) {
        font-size: 22px;
      }
      @include respond-to(all-handhelds) {
        font-size: 18px;
      }
    }
  }
  .question {
    margin-top: 50px;
    @include respond-to(full-hd) {
      margin-top: 120px;
    }
    @include respond-to(small-desktops) {
      margin-top: 30px;
    }
    @include respond-to(tablets) {
      margin-top: 30px;
    }
    @include respond-to(all-handhelds) {
      margin-top: 30px;
    }
    label {
      @include respond-to(all-handhelds) {
        text-align: left;
      }
    }
  }
}

#services-for-individual, #services-for-entity {
  padding: 50px 0;
  ul {
    margin-top: 40px;
    li {
      list-style-type: none;
      height: 56px;
      margin-top: 10px;
      h4 {
        line-height: 1.42857;
        a {
          color: #333;
        }
      }
    }
  }
}